*{
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: serif;
}
body{
  background-color: antiquewhite;
  color:black ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}